{% extends "_layout.twig" %}

{% block content %}
  <article class="page page-knights-create">
    <form method="post" id="create-knight-form">
      <input type="text" name="name" placeholder="Knight name" autocomplete="off">
      <input type="submit">
    </form>
    <nav>
      <a href="/">Back to home</a>
    </nav>
  </article>
{% endblock %}
